<h1>New task</h1>

<%= form_for(@task) do |t| %>
  <div>
    <%= t.label :Title %>
    <%= t.text_field :title %>
  </div>
  <br>
  <div>
    <%= t.label :Details %>
    <%= t.text_field :details %>
  </div>
  <%= t.submit %>
<% end %>

<%= link_to "Back to list", "/tasks"  %>
